<a href="https://colab.research.google.com/github/Sandyjiit/Machine-learning/blob/main/House_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
#importing necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as snr
%matplotlib inline

In [74]:
#loading and reading the data
house_Df=pd.read_csv("/content/Housing (1).csv")

In [75]:
house_Df.head()

      price  area  bedrooms  ...  parking  prefarea furnishingstatus
0  13300000  7420         4  ...        2       yes        furnished
1  12250000  8960         4  ...        3        no        furnished
2  12250000  9960         3  ...        2       yes   semi-furnished
3  12215000  7500         4  ...        3       yes        furnished
4  11410000  7420         4  ...        2        no        furnished

[5 rows x 13 columns]

In [76]:
#Step 2: Data preprocessing

In [77]:
house_Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [78]:
house_Df.describe()

              price          area  ...     stories     parking
count  5.450000e+02    545.000000  ...  545.000000  545.000000
mean   4.766729e+06   5150.541284  ...    1.805505    0.693578
std    1.870440e+06   2170.141023  ...    0.867492    0.861586
min    1.750000e+06   1650.000000  ...    1.000000    0.000000
25%    3.430000e+06   3600.000000  ...    1.000000    0.000000
50%    4.340000e+06   4600.000000  ...    2.000000    0.000000
75%    5.740000e+06   6360.000000  ...    2.000000    1.000000
max    1.330000e+07  16200.000000  ...    4.000000    3.000000

[8 rows x 6 columns]

In [79]:
#one hot encoding to convert categorical data into numerical format
house_Df['mainroad']=house_Df['mainroad'].apply({'yes':1,'no':0}.get)

In [80]:
house_Df['guestroom']=house_Df['guestroom'].apply({'yes':2,'no':3}.get)

In [81]:
house_Df['basement']=house_Df['basement'].apply({'yes':4,'no':5}.get)

In [82]:
house_Df['hotwaterheating']=house_Df['hotwaterheating'].apply({'yes':6,'no':7}.get)

In [83]:
house_Df['airconditioning']=house_Df['airconditioning'].apply({'yes':8,'no':9}.get)

In [84]:
house_Df['prefarea']=house_Df['prefarea'].apply({'yes':10,'no':11}.get)

In [85]:
house_Df['furnishingstatus']=house_Df['furnishingstatus'].apply({'furnished':0,'semi-furnished':1,'unfurnished':2}.get)

In [86]:
house_Df.head()

      price  area  bedrooms  ...  parking  prefarea  furnishingstatus
0  13300000  7420         4  ...        2        10                 0
1  12250000  8960         4  ...        3        11                 0
2  12250000  9960         3  ...        2        10                 1
3  12215000  7500         4  ...        3        10                 0
4  11410000  7420         4  ...        2        11                 0

[5 rows x 13 columns]

In [87]:
#divide data into independent and dependent sets

#independent set of data
X=house_Df[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']]
X.head()

   area  bedrooms  bathrooms  ...  parking  prefarea  furnishingstatus
0  7420         4          2  ...        2        10                 0
1  8960         4          4  ...        3        11                 0
2  9960         3          2  ...        2        10                 1
3  7500         4          2  ...        3        10                 0
4  7420         4          1  ...        2        11                 0

[5 rows x 12 columns]

In [88]:
#dependent set of data

Y=house_Df['price']

In [89]:
Y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

In [90]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3)

In [91]:
len(X_train)

381

In [92]:
len(X_test)

164

In [93]:
len(Y_test)

164

In [94]:
len(Y_train)

381

In [95]:
from sklearn.linear_model import LinearRegression

In [96]:
#Model Training
model=LinearRegression()
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [108]:
Y_pred=model.predict(X_test)

In [109]:
Y_pred[0:5]

array([5519838.85075153, 3366012.41335335, 3742374.03410329,
       4306279.15487284, 2674260.39310158])

In [99]:
  print(Y_test[0:5])

159    5460000
504    2653000
348    3815000
325    4007500
507    2590000
Name: price, dtype: int64

In [42]:
#prediction for a new house price 
data={'area':7000,"bedrooms":3,"bathrooms":2,'stories':2,'mainroad':1,'guestroom':2,'basement':4,'hotwaterheating':6,'airconditioning':9,'parking':3,'prefarea':11,'furnishingstatus':0}

In [43]:
data
index=[1]

In [44]:
new_entry_df=pd.DataFrame(data,index)
new_entry_df

   area  bedrooms  bathrooms  ...  parking  prefarea  furnishingstatus
1  7000         3          2  ...        3        11                 0

[1 rows x 12 columns]

In [46]:
prediction_new=model.predict(new_entry_df)
print("The price for the new house will be",prediction_new)

The price for the new house will be [8224906.34502963]

In [120]:
print("The model accuracy is" ,model.score(X_train,Y_train))

The model accuracy is 0.6807941943600444

In [112]:


print('Coefficients: \n', model.coef_)

Coefficients:
 [ 2.60922294e+02  1.03949527e+05  1.02131483e+06  4.81970246e+05
  3.89939977e+05 -3.04896729e+05 -3.75510011e+05 -1.02945717e+06
 -8.00034772e+05  2.59000697e+05 -6.44551712e+05 -1.78643812e+05]

In [113]:
# The mean squared error
print("Mean squared error: %.2f" % np.mean((model.predict(X_test) - Y_test) ** 2))

Mean squared error: 1126416183051.09

In [114]:
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % model.score(X_test, Y_test))

Variance score: 0.67